# =============================================================================
# Требования для образовательного проекта
# "Инструмент для удалённой помощи члену семьи"
# =============================================================================

# Установите все зависимости одной командой:
# pip install -r requirements.txt

# Основные зависимости:
pyautogui>=0.9.54          # Для создания скриншотов
Pillow>=9.0.0             # Для работы с изображениями (PIL)

# Примечание: socket, tkinter, threading, os, sys, time - 
# это стандартные библиотеки Python, их устанавливать не нужно!